*{
    padding: 0;
    margin: 0;
}
    

.more{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column; 
     gap:2em;
     height:65vmin ;
     border: 2px solid black;
     border-radius: 1em;
     width: 60vmin;
     background: transparent;
     backdrop-filter: 0.9;
    
}
.saksham{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
background-image: url("medical\ background.webp");
background-size: ;
}

.btn{
    font-size: 2rem;
    width: 10em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 1, 0.7);
    cursor: pointer;
    
}
.button1:hover{
    background: linear-gradient();

}
